<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="../css/loginstyles.css">
    </head>
    <body>
        <img src="../resources/logo.png" class='imagecenter' style="width:200px;">
        <div class='center'>
            <input type='text' id='user' name='user' style='width:90%;position: absolute;right: 6%;left:4%;top:25%;font-size:25px;' placeholder="StudentID"><br>
            <input type='password' id='pass' name='pass' style='width:90%;position: absolute;right: 6%;left:4%;top:65%;font-size:25px;' placeholder="Password">
        </div>
    </body>
</html>
