.main{
    padding-right: 275px;
    padding-left: 275px;
    margin-right: auto;
    margin-left: auto;
}

.history{
    height: 600px;
    padding-top: 225px;
}

.history>table{
    margin: 0 auto;
}

.block-floor-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 970px;
    height: 500px;
    border: 5px solid black;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 200px;
}

.block-container{
    height: auto;
    width: 306px;
}


.floor-container{
    display: grid;
    padding-left: 15px;
    margin-left: auto;
    height: auto;
}

.gf{
    height: 87.5px;
    width: 375px;
}

.f1{
    height: 87.5px;
    width: 375px;
}

.f2{
    height: 87.5px;
    width: 375px;
}

.f3{
    height: 87.5px;
    width: 375px;
}





.room-container{
    display: flex;
    flex-direction: row;
    width: 970px;
    height: 500px;
    border: 5px solid black;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-around;  
}

.building-border{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    border: solid gray 3px;
}


.room1{
    grid-column-start: 1;
    grid-row-start: 2;
}

.room2{
    grid-column-start: 1;
    grid-row-start: 1;
}

.room11{
    grid-column-start: 9;
    grid-row-start: 2;
}

.room12{
    grid-column-start: 9;
    grid-row-start: 3;
}

.room13{
    grid-column-start: 9;
    grid-row-start: 4;
}

.room14{
    grid-column-start: 9;
    grid-row-start: 5;
}

.room15{
    grid-column-start: 9;
    grid-row-start: 6;
}

.room16{
    grid-column-start: 9;
    grid-row-start: 7;
}

.room17{
    grid-column-start: 8;
    grid-row-start: 7;
}

.room18{
    grid-column-start: 7;
    grid-row-start: 7;
}

.room19{
    grid-column-start: 6;
    grid-row-start: 7;
}

.room20{
    grid-column-start: 5;
    grid-row-start: 7;
}

.room21{
    grid-column-start: 4;
    grid-row-start: 7;
}

.room22{
    grid-column-start: 3;
    grid-row-start: 7;
}

.room23{
    grid-column-start: 2;
    grid-row-start: 7;
}

.room24{
    grid-column-start: 1;
    grid-row-start: 7;
}

.room25{
    grid-column-start: 1;
    grid-row-start: 6;
}

.bed-container{
    display: flex;
    flex-direction: row;
    width: 970px;
    height: 500px;
    border: 5px solid black;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: space-around;  
}

.bed-border{
    border: solid gray 3px;
    display: grid;
    width: 500px;
    height: 300px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.bed2{
    grid-column-start: 1;
    grid-row-start: 2;
}

.bed4{
    grid-column-start: 2;
    grid-row-start: 2;
}

.error{
    margin-top: -451px;
    width: 100%;
    position: absolute;
    margin-right: -1246px;
}



